::-webkit-scrollbar {
  display: none;
}

.main-container {
  background-color: #00295aee;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.confirm-action-container {
  background-color: var(--yellowpop);
  padding: 2rem;
}
